<!DOCTYPE html>
<html>
    <head>
        <title>Micronaet Webserver</title>
    </head>
    <body>
        <div class="home">
            <h1>Micronaet</h1>
            <p>
                <b>Micronaet</b><br/>
                Sistema di web service per rappresentazione Google Maps coordinate clienti<br/>
                La pagina deve essere chiamata da un programma per dare il risultato corretto!

                Utilizza per la ricerca: <a href="{{ url_for('search') }}">CERCA</a>
            </p>
        </div>
    </body>
</html>
